@font-face {
  font-family: "SCoreDream";
  src: url("assets/fonts/S-Core_Dream_OTF/SCDream6.otf") format("truetype");
  font-weight: 600;
 }
 @font-face {
  font-family: "SCoreDream";
  src: url("assets/fonts/S-Core_Dream_OTF/SCDream7.otf") format("truetype");
  font-weight: 700;
 }
 @font-face {
  font-family: "SCoreDream";
  src: url("assets/fonts/S-Core_Dream_OTF/SCDream9.otf") format("truetype");
  font-weight: 900;
 }


 //@font-face {
 // font-family: "NotoSansKr-light";
 // src: url("assets/fonts/NotoSansKr/NotoSansCJKkr-Light.otf") format("truetype");
 //}
 //@font-face {
 // font-family: "NotoSansKr-regular";
 // src: url("assets/fonts/NotoSansKr/NotoSansCJKkr-Regular.otf") format("truetype");
 //}
 //@font-face {
 // font-family: "NotoSansKr-bold";
 // src: url("assets/fonts/NotoSansKr/NotoSansCJKkr-Bold.otf") format("truetype");
 //}
 //
