<app-faq></app-faq>
<div class="clr-row">
  <h1 class="section-title"><span>Q&A</span> 게시판 이용 방법</h1>
  <hr class='clr-col-12 clr-col-sm-12'>
  <div class="qna-guide-step clr-col-12 clr-col-sm-5">
    <div class="circle">
      <h2>STEP 1</h2>
      <p>자주 묻는 질문 확인</p>
    </div>
    <div class="qna-guide-detail">
      <span>문의글을 작성하기 전에</span>
      <span>자주 묻는 질문을 먼저 확인해주세요!</span>
    </div>
  </div>
  <div class="qna-guide-step clr-col-12 clr-col-sm-5">
    <div class="circle">
      <h2>STEP 2</h2>
      <p>Q&A 게시판에<br>문의글 작성</p>
    </div>
    <div class="qna-guide-detail">
      <span>FAQ에 원하는 질문이 없다면</span>
      <a id='qna-board-link' (click)='moveToBoard()'>Q&A 게시판 바로가기</a>
    </div>
  </div>
</div>
