<h2 class="title">강의 현황 <button type="button" class="btn btn-sm btn-icon-link" style="margin-left: 20px" (click)="openCourseWizard()"><clr-icon shape="add"></clr-icon> 개설</button></h2>
<clr-datagrid (clrDgRefresh)="course.refresh($event)" [clrDgLoading]="course.executables.refresh.loading" [(clrDgSelected)]="course.selected">
  <!--  <clr-dg-action-bar>-->
  <!--    <div class="btn-group">-->
  <!--      <button type="button" class="btn btn-sm btn-secondary">-->
  <!--        <clr-icon shape="plus"></clr-icon> 승인-->
  <!--      </button>-->
  <!--    </div>-->
  <!--  </clr-dg-action-bar>-->
  <clr-dg-column>이름</clr-dg-column>
  <clr-dg-column>과목</clr-dg-column>
  <clr-dg-column>학생</clr-dg-column>
  <clr-dg-column>선생님</clr-dg-column>
  <clr-dg-column>개설일</clr-dg-column>

  <clr-dg-row *ngFor="let course of course.items" [clrDgItem]="course">
    <clr-dg-cell>{{course.name}}</clr-dg-cell>
    <clr-dg-cell>{{CourseSubject[course.subject]}}</clr-dg-cell>
    <clr-dg-cell>{{course.studentsName}}</clr-dg-cell>
    <clr-dg-cell>{{course.teacher.name}}</clr-dg-cell>
    <clr-dg-cell>{{course.createdAt | date: 'yyyy.MM.dd HH:mm:ss'}}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer *ngIf="course.items">
    <clr-dg-pagination #pagination [clrDgPageSize]="20" [clrDgTotalItems]="course.total">
      <clr-dg-page-size [clrPageSizeOptions]="[20,50,100]"></clr-dg-page-size>
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
      of {{pagination.totalItems}}.
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>

<clr-wizard #wizard [(clrWizardOpen)]="courseWizardOpen" [clrWizardClosable]="false" clrWizardSize="xl" *ngIf="courseWizardOpen">
  <clr-wizard-title>수업 개설</clr-wizard-title>

  <clr-wizard-button [type]="'cancel'">취소</clr-wizard-button>
  <clr-wizard-button [type]="'previous'">이전</clr-wizard-button>
  <clr-wizard-button [type]="'next'">다음</clr-wizard-button>
  <clr-wizard-button [type]="'finish'">완료</clr-wizard-button>

  <clr-wizard-page [clrWizardPageNextDisabled]="!basicInfo.valid" (clrWizardPageOnCommit)="createCourse(newCourse)">
    <ng-template clrPageTitle>기본 정보 입력</ng-template>
    <form clrForm #basicInfo="ngForm">
      <clr-input-container>
        <label>수업 이름</label>
        <input clrInput required [(ngModel)]="newCourse.name" name="name"/>
        <clr-control-error>This field is required!</clr-control-error>
      </clr-input-container>

      <clr-select-container>
        <label>수업 과목</label>
        <select clrSelect required name="subject" [(ngModel)]="newCourse.subject">
          <option [ngValue]="key" *ngFor="let key of keys(CourseSubject)">{{CourseSubject[key]}}</option>
        </select>
        <clr-control-error>This field is required!</clr-control-error>
      </clr-select-container>

      <clr-input-container>
        <label>학생</label>
        <input clrInput required readonly [ngModel]="newCourse.studentsName" name="students"/>
        <clr-control-error>This field is required!</clr-control-error>
      </clr-input-container>

      <clr-input-container>
        <label>선생님</label>
        <input clrInput required readonly [ngModel]="newCourse.teacher?.name" name="teacher"/>
        <clr-control-error>This field is required!</clr-control-error>
      </clr-input-container>
    </form>

    <clr-tabs>
      <clr-tab>
        <button clrTabLink>학생</button>
        <ng-template [(clrIfActive)]="student.enabled" (clrIfActiveChange)="student.executables.refresh.loading = true">
          <clr-tab-content>
            <clr-datagrid (clrDgRefresh)="student.refresh($event)" [clrDgLoading]="student.executables.refresh.loading" [(clrDgSelected)]="student.selected" (clrDgSelectedChange)="newCourse.students = student.selected" [clrDgPreserveSelection]="true">
              <clr-dg-column>이름</clr-dg-column>
              <clr-dg-column>전화번호</clr-dg-column>
              <clr-dg-column>학교/학과</clr-dg-column>
              <!--              <clr-dg-column>소개</clr-dg-column>-->
              <!--              <clr-dg-column>가입일</clr-dg-column>-->
              <!--        <clr-dg-column></clr-dg-column>-->

              <clr-dg-row *ngFor="let student of student.items; trackBy: trackBy" [clrDgItem]="student">
                <clr-dg-cell>{{student.name}}</clr-dg-cell>
                <clr-dg-cell>{{student.phone}}</clr-dg-cell>
                <clr-dg-cell>{{student.profile?.school?.name}}</clr-dg-cell>
                <!--                <clr-dg-cell>{{teacher.profile.school.name}} {{teacher.profile.school.major}}</clr-dg-cell>-->
                <!--                <clr-dg-cell>{{teacher.phone}}</clr-dg-cell>-->
                <!--                <clr-dg-cell>{{teacher.profile.introduction}}</clr-dg-cell>-->
                <!--                <clr-dg-cell>{{teacher.createdAt | date: 'yyyy.MM.dd HH:mm:ss'}}</clr-dg-cell>-->
              </clr-dg-row>

              <clr-dg-footer *ngIf="student.items">
                <clr-dg-pagination #paginationTeacher [clrDgPageSize]="10" [clrDgTotalItems]="student.total">
                  <clr-dg-page-size [clrPageSizeOptions]="[10]"></clr-dg-page-size>
                  {{paginationTeacher.firstItem + 1}} - {{paginationTeacher.lastItem + 1}}
                  of {{paginationTeacher.totalItems}}.
                </clr-dg-pagination>
              </clr-dg-footer>
            </clr-datagrid>
          </clr-tab-content>
        </ng-template>
      </clr-tab>
      <clr-tab>
        <button clrTabLink>선생님</button>
        <ng-template [(clrIfActive)]="teacher.enabled" (clrIfActiveChange)="teacher.executables.refresh.loading = true">
          <clr-tab-content>
            <clr-datagrid (clrDgRefresh)="teacher.refresh($event)" [clrDgLoading]="teacher.executables.refresh.loading" [(clrDgSingleSelected)]="teacher.selected[0]" (clrDgSingleSelectedChange)="newCourse.teacher = teacher.selected[0]" [clrDgPreserveSelection]="true">
              <clr-dg-column>이름</clr-dg-column>
              <clr-dg-column>전화번호</clr-dg-column>
              <clr-dg-column>학교/학과</clr-dg-column>
              <!--              <clr-dg-column>소개</clr-dg-column>-->
              <!--              <clr-dg-column>가입일</clr-dg-column>-->
              <!--        <clr-dg-column></clr-dg-column>-->

              <clr-dg-row *ngFor="let teacher of teacher.items; trackBy: trackBy" [clrDgItem]="teacher">
                <clr-dg-cell>{{teacher.name}}</clr-dg-cell>
                <clr-dg-cell>{{teacher.phone}}</clr-dg-cell>
                <clr-dg-cell>{{teacher.profile?.school?.name}} {{teacher.profile?.school?.major}}</clr-dg-cell>
                <!--                <clr-dg-cell>{{teacher.profile.school.name}} {{teacher.profile.school.major}}</clr-dg-cell>-->
                <!--                <clr-dg-cell>{{teacher.phone}}</clr-dg-cell>-->
                <!--                <clr-dg-cell>{{teacher.profile.introduction}}</clr-dg-cell>-->
                <!--                <clr-dg-cell>{{teacher.createdAt | date: 'yyyy.MM.dd HH:mm:ss'}}</clr-dg-cell>-->
              </clr-dg-row>

              <clr-dg-footer *ngIf="teacher.items">
                <clr-dg-pagination #paginationTeacher [clrDgPageSize]="10" [clrDgTotalItems]="teacher.total">
                  <clr-dg-page-size [clrPageSizeOptions]="[10]"></clr-dg-page-size>
                  {{paginationTeacher.firstItem + 1}} - {{paginationTeacher.lastItem + 1}}
                  of {{paginationTeacher.totalItems}}.
                </clr-dg-pagination>
              </clr-dg-footer>
            </clr-datagrid>
          </clr-tab-content>
        </ng-template>
      </clr-tab>
    </clr-tabs>
  </clr-wizard-page>

  <!--  <clr-wizard-page>-->
  <!--    <ng-template clrPageTitle>Page 2</ng-template>-->
  <!--    ...-->
  <!--  </clr-wizard-page>-->

  <!--  <clr-wizard-page>-->
  <!--    <ng-template clrPageTitle>Page 3</ng-template>-->
  <!--    ...-->
  <!--  </clr-wizard-page>-->
</clr-wizard>
